h2 {
    color: red;
    font-size: 44px !important;
    font-family: 'Roboto Mono', monospace;
}

.top_margin {
    margin-top: 7%;
    margin-left: 4%;
}

.form_margin {
    margin-top: -26%;
    margin-left: 4%;
}